# Expo / React Native
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Env
.env
.env.local

# Firebase Android (contém API key — não versionar)
google-services.json

# Misc
.DS_Store
npm-debug.*
yarn-error.*
